#name {
  margin-left: 11.5%;
}

section {
  max-width: 
}

section h1 {
  color: #4aaaa5;
  font-size: 24px;
  font-weight: bold;
  padding: 28px 0 14px 30px;
}

section hr {
  margin-left: 5%;
  margin-right: 5%;
}

section ul {
  margin: 5%;
}

section li {
  float: left;
  padding: 14px;
}

.img-banner {
  background: #4aaaa5;
  color: #fff;
  height: 50px;
  width: 100%;
}

li p {
  color: #fff;
  font-family: Georgia;
  text-align: center;
  padding: 15px;
  }

section img {
  height: 370px;
  width: 557px;
}

#aside {
  height: 2px;
  background: #D3D3D3;
  margin-right: 30px;
  margin-left: 30px;
}

/*Begin Rsponsive Styles*/

@media screen and (max-width: 640px) {

  header {
    position: static;
  }

  header h1 {

  }

  .header-container {

  }

#name {
    width: 100%;
  }

.main-nav {
    float: none;
  }

 .content {
    width: 80%;
    margin-left: 5%;
  }

  #paragraph img {
    float: none;
    height: 520px;
  }

 section {
    width: 100%;
    margin: 20px 0;
  }

  section img {
    width: 80%;
  }

  .img-banner {

  }
  
  aside {
    padding-bottom: 88px;
  }

  aside h1 {
    text-align: left;
    padding-left: 5px;
  }

  .aside-img {
    margin-top: 20px;
  }

}

@media screen and (max-width: 768px) {

.header-container {
  padding-bottom: 15px; 
}

#name-container {
  margin: 0;
}

nav {
    margin-right: 0;
  }

  .content {
    margin-left: 7.5%;
  }

  section {
    width: 725px;
    margin-left: 0;
  }

  aside {
    width: 725px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  aside h1 {
    text-align: left;
    margin-left: 4%;
  }

  .aside-img {
    margin-left: 25px;
  }

}

@media screen and (max-width: 980px) {
  
  body {
    max-width: 980px;
    margin: 0 auto;
  }

  #name-container {
    margin-right: 1%;
  }

  nav {
    margin-right: 7%;
  }

  .content {
    margin-left: 2%;
  }

  section {
    margin-left: 6%;
  }

  section hr {
    margin: 0 30px;
    height: 2px;
  }

  section h1 {
    padding: 20px;
  }

  section li {
    position: relative;
    height: 310px;
    margin: 30px;
  }

  section img {
    height: 110%;
  }


/*  
  .img-banner {
    float: none;
    background: #4aaaa5;
    color: #fff;
    height: 50px; 
    width: 100%;  
  }
*/


  

