* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.clearfix {
  content: " ";
  clear: both;
}

body {
  background-image:url("../img/background.jpg"); 
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-family: arial;
}

/* Start Header section */


.header-container {
  overflow: hidden;
  background: #ffffff;
  border-bottom: solid;
  border-bottom-color: #cccccc;
  padding: 20px;
}

#name {
  display: inline;
  background: #4aaaa5;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  margin-left: 11.7%;
}

nav {
  float: right;
  font-family: arial;
  font-size: 18px;
  margin-top: -1.8%;
  margin-right: 12.8%;
}

.main-nav {
  display: block;
  margin-right: -28%;
}

.main-nav li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: #777777;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: #e6e6e6;
}

a:active {
  color: #4aaaa5;
  padding-bottom: 3px;
  border-bottom: 3px solid #fff;
  transition:all 1s ease-in-out
}


/* End Header section */


.content {
  width: 980px;
  margin: 0 10% auto;
}


/* Begin Section */


#paragraph img {
  float: left;
  position: relative;
  padding-top: 3px;
  padding-right: 20px;
}

section {
  background: #fff;
  float: left;
  width: 650px;
  position: relative;
  margin: 3.3% 5% 3.6% 0%;
}

article {
  line-height: 1.7px;
}

.about {
  color: #4aaaa5;
  font-size: 24px;
  font-weight: bold;
  padding-top: 35px;
  padding-left: 30px;
  padding-bottom: 30px;
}

article hr {
  height: 2px;
  background: #ebebeb;
  margin-right: 30px;
  margin-left: 30px;
}

#paragraph {
  line-height: 1.7;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

p {
  font-size: 18px;
  color: #808080;
}

aside {
  width: 270px;
  background: #fff;
  border: 2px #ebebeb;
  float: left;
  margin-top: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
}

aside h1 {
  color: #4aaaa5;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

#aside {
  height: 2px;
  background: #D3D3D3;
  margin-right: 30px;
  margin-left: 30px;
}

.aside-img {
  margin-top: 15px;
  margin-left: 25px;
}

.aside-img li {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
}

footer {
  clear: both;
  border-top: thick #4aaaa5;
  background: #666666;
  color: #ebebeb;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 12px;
  text-align: center;
}

#footer {
  background: #4aaaa5;
  height: 10px;
  margin-top: -50px;
  border: none;
}

footer p {
  font-size: 12px;
  color: #fff;
  padding-top: 30px;
}

/*Begin Rsponsive Styles*/

@media screen and (max-width: 980px) {
  
  #name-container {
    max-width: 980px;
    margin-left: -5.8%;
  }

  nav {
    margin-right: 5.9%;
  }

section {
    margin-left: -5%;
    margin-right: 5%;
    width: 50%;
  }

section img {
    float: none;
    height: 435px;
    margin-bottom: 15px;
  }

}

@media screen and (max-width: 768px) {

  #name {
    margin: 5.4%;
  }

  nav {
    margin-right: 0;
  }

  .content {
    margin-left: 2.6%;
  }

  section {
    width: 725px;
    margin-left: 0;
  }

  aside {
    width: 725px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  aside h1 {
    text-align: left;
    margin-left: 4%;
  }

  .aside-img {
    margin-left: 25px;
  }

}

@media screen and (max-width: 640px) {

  header {
    float: none;
    max-width: 640px;
    width: 100%;
  }

  header h1 {
    margin: 0;
  }

  .header-container {
    text-align: center;
    padding: 0;
  }

  .name-container {
    width: 100%;
    margin: 0;
  }

  #name {
    background: #4aaaa5;
    margin: 0;
    display: block;
  }

  nav {
    float: none;
    display: block;
    margin: 10px auto;
    width: 100%;
  }

  .main-nav {
    float: none;
    margin: 0;
    text-align: center;
  }

  .main-nav li {
  float: none;
  display: inline;
  padding: 30px 50px;
}

  .content {
    width: 90%;
    margin: 0 auto;
  }

  #paragraph img {
    float: none;
    height: 520px;
  }

  aside, section {
    float: none;
    width: 100%;
    margin: 20px 0;
  }
  
  aside {
    padding-bottom: 88px;
  }

  aside h1 {
    text-align: left;
    padding-left: 5px;
  }

  .aside-img {
    margin-top: 20px;
  }

}


  

